$baseColor = #ffab00
$grey = #ccc
$controlsHeight = 42px


center()
    position absolute
    left 50%
    top 50%
    transform translate(-50%,-50%)


*
*:before 
*:after
    box-sizing border-box


.App
    width 90%
    max-width 800px
    margin 0 auto


input 
    height $controlsHeight
    font inherit
    outline none
    padding 0 1rem
    border 1px solid $grey
    border-radius 5px


button
    @extend input
    color white
    border 0
    line-height $controlsHeight
    background $grey
    cursor pointer


.header
    display flex
    justify-content space-between
    align-items center
    margin 2rem 0


.submit
    display flex
    margin-bottom 2rem

    &__input
        flex 1
        border-top-right-radius 0
        border-bottom-right-radius 0
        border-right none

    &__button
        border-top-left-radius 0
        border-bottom-left-radius 0
        background $baseColor

        &--inactive
            background $grey
            pointer-events none


.is-loading
    position relative

    &:before
        content ''
        width 24px
        height @width
        border 3px solid white
        border-top-color transparent
        display block
        border-radius 100%
        center()
        animation spin .8s linear infinite

    > button
        color transparent


.notice
    padding 1rem
    color red
    border 1px solid @color
    font-style italic
    border-radius 5px


.link-generated
.link-list
    margin 0
    padding 0


.link
    padding 1rem
    display flex
    align-items center
    border 1px solid $grey
    margin-bottom 2rem
    border-radius 5px
    overflow hidden

    &__long
        flex-basis 45%
        white-space nowrap
        text-overflow ellipsis
        overflow hidden

    &__arrow
        flex-basis 10%
        text-align center

    &__short
        flex-basis 45%
        color $baseColor
        text-decoration none

        &:hover
            text-decoration underline

    &__remove
        position relative
        min-width 24px
        min-height @min-width
        display block
        margin-left .5rem
        background $grey
        border-radius 100%
        cursor pointer
        transform rotate(45deg)

        &:before
        &:after
            content ''
            width (@min-height/2)
            height 2px
            background white
            center()

        &:after
            height (@min-height/2)
            width 2px

        &:hover
            background $baseColor


@keyframes spin
    0%
        transform translate(-50%, -50%) rotate(0)
    100%
        transform translate(-50%, -50%) rotate(360deg)